<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="user-form">
        <div class="close-form d-flex"><i class="bx bx-x"></i></div>
        <div class="form-wrapper container">
          <div class="user login">
            <div class="img-box">
              <img src="./images/login.svg" alt="" />
            </div>
            <div class="form-box">
              <div class="top">
                <p>
                  Not a member?
                  <span data-id="#ff0066">Register now</span>
                </p>
              </div>
              <form action="">
                <div class="form-control">
                  <h2>Hello Again!</h2>
                  <p>Welcome back you've been missed.</p>
                  <input type="text" placeholder="Enter Username" />
                  <div>
                    <input type="password" placeholder="Password" />
                    <div class="icon form-icon">
                      <!-- <img src="./images/eye.svg" alt="" /> -->
                    </div>
                  </div>
                  <span>Recovery Password</span>
                  <input type="Submit" value="Login" />
                </div>
                <div class="form-control">
                  <p>Or continue with</p>
                  <div class="icons">
                    <div class="icon">
                      <img src="./images/search.svg" alt="" />
                    </div>
                    <div class="icon">
                      <img src="./images/apple.svg" alt="" />
                    </div>
                    <div class="icon">
                      <img src="./images/facebook.svg" alt="" />
                    </div>
                    <div class="icon">
                      <img src="./images/github.svg" alt="" />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
</body>
</html>